.why-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 112px;
}

.why-box {
  /* width: 1592px; */
  margin: 72px auto 0;
  gap: 24px;
  display: flex;
  flex-direction: row;
  /* 隐藏滚动条 */
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.why-box::-webkit-scrollbar {
  display: none;
}

.reason-box {
  min-width: 280px;
  height: 530px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: flex 0.8s ease;
  position: relative;
  scroll-snap-align: start;
}

.reason-box:hover {
  flex: 0 0 960px;
}

.reason-img {
  height: 530px;
  position: absolute;
  top: 0;
  left: 0;
}

.reason-img-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 960px;
  background-color: rgba(20, 20, 20, 0.5);
}

.reason-content {
  position: relative;
  width: calc(100% - 80px);
  margin-top: 311px;
  transition: margin 0.4s ease;
}

.reason-content-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reason-content-title-line {
  width: calc(100% - 74px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 24px;
}
