.video-show-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 123px;
}

.video-show-pic {
  width: 100%;
  max-width: 1470px;
  /* height: 464px; */
  margin: 48px auto 0;
}
