.nav-bar {
  width: 100%;
  height: 72px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-logo {
  position: absolute;
  left: 9.1667vw;
}

.nav-logo-img {
  height: 20px;
}

.nav-logo-name {
  height: 20px;
  margin-left: 14px;
}

.nav-operate {
  position: absolute;
  right: 9.1667vw;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-left: 28px;
}
