.footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 443px;
}

.footer-left {
  margin-top: 38px;
}

.footer-logo-name {
  height: 24px;
  margin-bottom: 32px;
}

.footer-platform {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
}

.footer-platform-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.footer-right {
  margin-top: 38px;
  margin-right: 75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-right-box {
  width: 208px;
  margin-left: 56px;
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #d5d6dc;
  margin: 0 auto;
}

.footer-footer {
  width: 100%;
  height: 96px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-footer-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.global-box {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.global-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
